__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/a62a7104-cfac-44c8-a81b-c3f308cf9fed
__blobstorage__/d0e8b150-6274-4dc4-985d-c7166eced73a
